body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: black;
  color: white;
}

.scroll-container {
  background: rgb(60, 58, 58);
  width: 25rem;
  padding: 30px;
}

.scroll-div {
  width: 400px;
  height: 500px;
  background: rgb(39, 38, 38);
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-object {
  padding: 20px;
}
